<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      #paging {
        display: flex;
        gap: 32px;
      }
      #paging li {
        cursor: pointer;
      }
      li {
        list-style-type: none;
      }
    </style>
  </head>
  <body>
    <ul id="users">
      <li></li>
      <li></li>
    </ul>
    <ul id="paging"></ul>
    <a href="/write/">글쓰기</a>
    <script src="./index.js"></script>
  </body>
</html>
