<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="http://localhost:3000/write" method="post">
      <fieldset>
        <legend>한줄 게시판</legend>
        <input type="text" name="title" placeholder="title" />
        <input type="text" name="content" placeholder="content" />
        <input type="text" name="name" placeholder="Name" />
        <button>작성하기</button>
        <button type="reset">Reset</button>
      </fieldset>
    </form>
  </body>
</html>
