<li class="item">
  <ul class="row">
    <li class="num box-center"><%= id %></li>
    <li class="title"><%= title %></li>
    <li class="writer box-center"><%= writer %></li>
    <li class="createdAt box-center"><%= createdAt %></li>
  </ul>
</li>