<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <div>
      <h1>임시게시판</h1>
      <nav>
        <ul class="category">
          <% if(categories.length) {%>
          <% categories.forEach(({name, href})=>{%>
          <li>
            <a href="<%= href %>"><%= name %></a>
          </li>
          <% }) %>
          <% } else { %>
          <li>목록없음</li>
          <% } %>
        </ul>
      </nav>
    </div>
  </body>
</html>