<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시판 목록</title>
    <link href="board.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <section class="box">
        <aside class="side_menu">
          <td class="side_menu1">
            <ul class="side_menu_list">
              <li class="side_menu_items">
                <a href="#">훈련과정</a>
              </li>
              <li class="side_menu_items">
                <a href="#">공지사항</a>
              </li>
              <li class="side_menu_items">
                <a href="#">건의함</a>
              </li>
              <li class="side_menu_items">
                <a href="#">채용정보</a>
              </li>
              <li class="side_menu_items">
                <a href="#">로그아웃</a>
              </li>
              <li class="side_menu_items">
                <a href="#">Version2 바로가기</a>
              </li>
            </ul>
          </td>
        </aside>
        <div class="board_list_wrap">
          <table class="board_list">
            <caption>
              공지사항
            </caption>
            <thead></thead>
            <tbody>
              <tr>
                <td class="divide">작성자</td>
                <td class="text">관리자</td>
                <td class="divide">작성일</td>
                <td class="text">2024-02-19</td>
              </tr>
              <tr>
                <td class="divide">제목</td>
                <td colspan="3 " class="text">
                  [국민취업제도] 훈련수당 신청 안내
                </td>
              </tr>
              <tr>
                <td class="divide">내용</td>
                <td colspan="3" class="text">
                  '훈련참여지원수당'은 국민취업지원제도 참여자로서 직업훈련에
                  참여 중인 자에 대하여 훈련기간 동안 생계부담 완화 차원에서
                  지급하는 수당을 말합니다.
                </td>
              </tr>
            </tbody>
          </table>

          <div class="write1">
            <span class="own">
              <a href="#" class="write_btn">글쓰기</a>
              <a href="#" class="write_btn">답글</a>
              <a href="#" class="write_btn">수정</a>
              <a href="#" class="write_btn">삭제</a>
            </span>
            <span class="menu">
              <a href="#" class="write_btn">목록보기</a>
              <a href="#" class="write_btn">이전글</a>
              <a href="#" class="write_btn">다음글</a>
            </span>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
